*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.spring{
  height: 200px;
  background-image: url(img/box1.jpg);
  background-size: cover;
  background-position: center;
}

.summer{
  height: 200px;
  background-image: url(img/box2.jpg);
  background-size: cover;
  background-position: center;
}

.autem{
  height: 200px;
  background-image: url(img/box3.jpg);
  background-size: cover;
  background-position: center;
}

.winter{
  height: 200px;
  background-image: url(img/box4.jpg);
  background-size: cover;
  background-position: center;
}